{% extends 'base.html' %}
{% load static %}
{% block title %}WebMiningCalculator{% endblock title %}

{% block content %}



<div class="head_container">
    <div class="calculate_information">
        <div>Обновлено: {{ last_update }}</div>
        <div>Цена за kw/h: {{ electricity }} руб.</div>
    </div>

    <div class="profit_information">
        <div>Курс доллара: {{ current_profit.usd_price }} руб.</div>
        <div>Курс евро: {{ current_profit.eur_price }} руб.</div>
        <div>Курс ETH: {{ current_profit.eth_price }} руб.</div>
        <div>Курс TON: {{ current_profit.ton_price }} руб.</div>
        <div>Прибыль за 100 mh/s: {{ current_profit.eth_daily_profit_per_100mhs }} руб.</div>
        <div>Прибыль за 1 gh/s: {{ current_profit.ton_daily_profit_per_1ghs }} руб.</div>
    </div>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Магазин</th>
            <th scope="col">Название</th>
            <th scope="col"><span class="price" sortBy="asc">Цена</span></th>
            <th scope="col" class="col"><span class="eth_hashrate" sortBy="asc">Хэшрейт eth</span></th>
            <th scope="col" class="col"><span class="ton_hashrate" sortBy="asc">Хэшрейт ton</span></th>
            <th scope="col" class="col"><span class="day_profit" sortBy="desc">Профит в день</span></th>
            <th scope="col" class="col"><span class="month_profit" sortBy="desc">Профит в месяц</span></th>   
            <th scope="col" class="col"><span class="day_profit_dual" sortBy="desc">Профит в день (Dual)</span></th>
            <th scope="col" class="col"><span class="month_profit_dual" sortBy="desc">Профит в месяц (Dual)</span></th>
            <th scope="col"><span class="payback" sortBy="asc">Окупаемость</span></th>
            <th scope="col"><span class="payback_dual active" sortBy="asc">Окупаемость (Dual)</span></th>
        </tr>
    </thead>
    <tbody class="tbody">
    </tbody>
</table>

{% endblock content %}

{% block domready %}
    dataInicialize('{{ gpulist|safe }}');
{% endblock domready %}