
.table {
    border: 1px lightgrey solid;
    border-collapse: collapse;
}
th:first-child{
    width: 300px;
}
.col {
    width: 160px;
}
td, th {
    text-align: center;
}
.gpu_title_left{
    text-align: left !important;
}
.icon img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px 5px 0;
}
.head_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 35px;
}
.active{
    color: chocolate;
}